
    <div class="row">
        <div class="col-md-6 offset-3">
          <div class="card mb-5 mt-5">
            <div class="card-body">
              <class="list-group mb-1">
                <a href="#" class="list-group-item list-group-item-action">        
                    <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg" class="rounded-circle float-start" style="height: 30px;" alt="...">
                    <h5 class="card-title">{{username}}</h5>
                </a>
                <p class="card-text">{{data.text}}</p>
                <p class="card-text"><small class="text-muted">{{data.createdAt}}</small></p>
             </div>
             <img src="{{data.imgUrl}}" class="card-img-bottom" alt="...">
          </div>
        </div>
     </div>
 

    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="card mt-3">
          <div class="card-body">
            <form action="/diary/comment/{{data.id}}" method="post">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Commentary:  </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="4"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Add </button>
            </form>
          </div>
        </div>
      </div>
    </div>


{{#if diaryComment}}
  {{#each diaryComment}}
     <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
                <p class="card-text">{{text}}</p>
                <p class="card-text"><small class="text-muted">{{createdAt}}</small></p>
            </div>
            </div>
        </div>
     </div>
  {{/each}}
  {{else}}
   <h1>No comment</h1>
{{/if}}

